*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.debug header{
    background-color: #3161e0;
    padding: 20px 0;
    border-bottom: #3161e0 100px;
}

header>main{
    background-color: #3161e0;
    
}

header>nav{
    background-color: #3161e0;
    
    padding-right: 10%;
}

header>aside{
    background-color: #3161e0;
    
    padding-left: 10%;
}

.container{
    display: flex;
    justify-content: center;
}   

/*end header*/


.box1{
    background-image: url(./img/jumbo.png);
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

.box1>main{
    display: flex;
    height: 680px;
}

/*end box1*/

.box2{
    display:flex;
    justify-content: center;
}
.box2>main{
    border: 1px dashed;
    background-color: blue;
    height: 750px;
    width: 1050px;
}
.box2>aside{ 
    background-color: pink;
    border: 1px dashed;
    height: 750px;
    width: 660px;
}

/*end box2*/

.box3{
    background-color: lightgray;
    display:flex;
    justify-content: center;
}
.box3>aside{
    background-color: pink;
    border: 1px dashed;
    height: 750px;
    width: 660px;
}
.box3>main{
    border: 1px dashed;
    background-color: blue;
    height: 750px;
    width: 1050px;
}

/*end box3*/

.box4{
    display:flex;
    justify-content: center;
}        
.box4>main{
    border: 1px dashed;
    background-color: blue;
    height: 750px;
    width: 1050px;
}
.box4>aside{
    background-color: pink;
    border: 1px dashed;
    height: 750px;
    width: 660px;
}

/*end box4*/

.box5{
    background-color: lightgray;
    display:flex;
    justify-content: center;
}
.box5>main{
    background-color: forestgreen;
    height: 1350px;
    width: 1710px;
    border: dashed 1px;
}

/*end box5*/

.box6{
    background-color: #1e2124;
    display:flex;
    padding: 50px 10% 15px 10%;
    justify-content: center;
}
.box6>nav{
    background-color: palevioletred;
    height: 800px;
    width: 400px;
    border: 1px dashed;
}

.boxcolumn{
    width: auto;
    background-color: aquamarine;
    width: 300px;
    border: 1px dashed; 
    padding-top: 15px;
}

/*end box6*/

footer{
    background-color: #1e2124;
    border-top: solid #424549 2px;
    display: flex;
    justify-content: center;
    padding: 15px 10% 0;
}

#finalsection{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    width: 1710px;
    border: dashed 1px;
    padding: 10px 0;
}
footer>section>div{
    background-color: pink;
    border: dashed 1px;
}

button{
    background-color: pink;
    border: dashed 1px;
}

.paddingbox{
    padding: 15px 10%;
}

/*End Struttura*/

.container>main{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

main>div{
    color: white;
    align-content: center;
}

#login>div{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.container>nav{
    align-content: center;
}

/*end header*/

#startsection{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}

h1{
    font-size: 60px;
}

#startsection>h1{
    padding: 20px 0 50px;
    
}

#startsection>span{
    padding: 0 300px 20px 300px;
    line-height: 30px;
}

#sectiondown{
    display: flex;
    padding: 10px 33%;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#download{
    background-color: white;
    color: #1e2124;
    border-radius: 30px;
    padding: 10px;
}

#browser{
    background-color: #1e2124;
    padding: 10px;
    border-radius: 30px;
}

/*end box1*/

.box2>aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1e2124;
}
.box2>aside>div{
    line-height: 30px;
    padding-top: 20px;
}

.box2>main{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*end box2*/
.box3>aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1e2124;
}
.box3>aside>div{
    line-height: 30px;
    padding-top: 20px;
}

.box3>main{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*end box3*/
.box4>aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1e2124;
}
.box4>aside>div{
    line-height: 30px;
    padding-top: 20px;
}
.box4>main{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*end box4*/
.box5>main{
    text-align: center;
}
.box5>main>div{
    padding:20px 35px 0 35px;
    color: #1e2124;
}
.box5>main>h1{
    color: #1e2124;
}
.box5>main>img{
    width: 100%;
}
.box5>main>h2{
    color: #1e2124;
    background-image: url(./img/stars.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0 50px 0;
}
#downloadbox5{
    background-color: #8ea1e1;
    display: inline;
    padding: 15px;
    border-radius: 30px;
    color: white;
}
/*end box5*/

h2{
    font-size: 40px;
    color: #7289da;
}

h3{
    font-size: 20px;
    color: #7289da;
}

.boxcolumn>div{
    padding-top: 15px;
}
/*end box6*/
#finalsection>button{
    background-color: #7289da;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

/*end footer*/